/* section.scrollmenu {
  background-color: #666;
  overflow: auto;
  white-space: nowrap;
}

section.scrollmenu section {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

section.scrollmenu a:hover {
  background-color: #777;
} */